/* app css stylesheet */

html,body,#wrap{ 
    margin:0px; 
    height:100%; 
}
#wrap ul{
    padding:0px;
    list-style-type: none;
}

#wrap #top .menu{
    padding:10px 0px 5px 0px;
    font-size:16px;
    font-weight: bold;
}

.menu > li {
  display: inline;
  padding:0px 5px;
}

#wrap{
    display: -webkit-box;
    -webkit-box-orient:vertical;
}

#top{
    border-bottom: 0.1em solid #D2D2D2;
    background: #FAFAFA;
}

#body{
    display: -webkit-box;
    -webkit-box-flex:1;
}


#body #left{
    width:18%;
    min-width: 150px;
    background: #F8F8F8;
    border-right: 1px solid #D2D2D2;
    
}


#body #left li a{
    padding:4px 5px 4px 10px;
    display:block;
}
#body #left .cat-even-true{
    background:#f4f4f4;
}
#body #content{
    -webkit-box-flex:1;
    background:#FFFFFF;
    padding:10px;
}


#content .note{
    border:1px solid #F1F1F1;
    background:#FBFAFA;
    padding:5px;
    border-radius: 0.4em;
}
#content .note hr{margin:10px 1px;}